body {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

/* Desktop */
.desktop {
	position: relative;
	width: 1440px;
	height: 1024px;

	background: #FFFFFF;
}


/* Content */
.content {
	position: absolute;
	width: 566px;
	height: 838px;
	left: 371px;
	top: 75px;

	background: rgba(65, 63, 63, 0.3);
	border-radius: 50px;
}

.top_text {
	/* Syberia */
	position: absolute;
	width: 516px;
	height: 143px;
	left: 44px;
	top: 68px;

	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 400;
	font-size: 120px;
	line-height: 162px;

	color: #FFFFFF;
}

.second_text {
	/* Sokal */
	position: absolute;
	width: 314px;
	height: 93px;
	left: 246px;
	top: 218px;

	font-family: 'Sacramento';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 88px;

	color: #FFFFFF;
}

.third_text {
	/* Automobots are not robots. They have a soul. */
	position: absolute;
	width: 501px;
	height: 335px;
	left: 31px;
	top: 311px;

	font-family: 'Reenie Beanie';
	font-style: normal;
	font-weight: 500;
	font-size: 100px;
	line-height: 100px;

	color: #FFFFFF;
}

.stars {
	position: absolute;
	width: 197px;
	height: 39.4px;
	left: 49px;
	top: 743px;
}

.read_more {
	position: absolute;
	width: 260px;
	height: 80px;
	left: 272px;
	top: 720px;
}

.image_one {
	position: absolute;
	width: 369px;
	height: 229.94px;
	left: 1010px;
	top: 116px;

	border-radius: 65px;
}

.image_second {
	position: absolute;
	width: 369px;
	height: 229.94px;
	left: 1010px;
	top: 399.53px;

	border-radius: 65px;
}

.image_third {
	position: absolute;
	width: 369px;
	height: 229.94px;
	left: 1010px;
	top: 683.06px;

	border-radius: 65px;
}

.shadows {
	position: absolute;
	width: 1440px;
	height: 1024px;

	background: conic-gradient(from 180deg at 50% 76.51%, #000000 -62.99deg, #000000 44.38deg, rgba(0, 0, 0, 0) 180.78deg, rgba(0, 0, 0, 0.046965) 180.82deg, #000000 297.01deg, #000000 404.38deg);
	opacity: 0.8;
}

.kate {
	position: absolute;
	width: 223px;
	height: 934px;
	left: 77px;
	top: 48px;

	background: url(../img/kate.png);
}

.effect {
	position: absolute;
	width: 1440px;
	height: 1024px;

	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 55.38%), url(../img/effect.png);
	background-repeat: no-repeat;
    background-size: cover;
	filter: blur(1.5px);
}

.background {
	position: absolute;
	width: 1440px;
	height: 1024px;

	background: url(../img/airship.png);
	background-repeat: no-repeat;
    background-size: cover;
}