<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<!-- Тег span выделяет блок текста в единое целое -->
<p>Hello</p>
<span id="green">World</span>
<span style="color:green">HTML</span>

<!-- Тег img подключает изображение -->
<img src="./img/java.png" width="259" height="194" border="0"/>

</p>

<!-- Тег input с атрибутом type="text" подключает текствое поле -->
<input type="text" value="0123456789" maxlength="10" />

</p>

<!-- Тег input с атрибутом type="password" подключает поле для ввода пароля-->
<input type="password" value="" maxlength="10" />

</p>

<!-- Тег input с атрибутом type="button" подключает кнопку -->
<input type="button" value="Кнопка" />

</p>

<!-- Тег input с атрибутом type="checkbox" подключает кнопку поле для "галочки" -->
<input type="checkbox" />

</p>

<!-- Тег div подключает блок -->
<div style="background-color: red; width: 200px; height: 100px;">Блок</div>

</p>

<!-- Тег a подключает ссылку -->
<a href="http://yandex.ru" target="_blank">Yandex</a>
<a href="http://google.ru">Google</a>


<!-- Тег table подключает таблицу -->
<table border="1">
    <!-- Тег tr подключает строку таблицы -->
    <tr>
        <!-- Тег td подключает ячейку строки таблицы -->
        <td>1</td>
        <td>2</td>
    </tr>
</table>

</body>
</html>