<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iron Man</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>

<h1 class="article-title">Iron Man (Железный Человек)</h1>
<div class="item-characteristic "><fieldset class="item-fieldgroup"><legend>Характеристики героя</legend>
    <div class="field field-name-field-hero-main-picture field-type-image field-label-hidden"><img src="./img/ironman.jpg" width="300" height="461" alt="" /></div>
    <p><span class="field-list">Настоящее имя:</span> Энтони Эдвард Старк</p>
    <p><span class="field-list">Прозвища:</span></p>
    <p>Панцироголовый (Shellhead), Золотой Мститель (Golden Avenger); раньше Красный Динамо (Crimson Dynamo), Железный Рыцарь (Iron Knight), Hogan Potts, Человек-Запасная Часть (Spare Parts Man); олицетворял Кобальтового Человека (Cobalt Man) (Ральф Робертс)</p>
    <p><span class="field-list">Личность:</span> Общеизвестна</p>
    <p><span class="field-list">Вселенная:</span> <a href="https://www.strangearts.ru/vselennye/zemlya-616">Земля-616 (Mainstream)</a></p>
    <p><span class="field-list">Пол:</span> Мужской</p>
    <p><span class="field-list">Позиция:</span> Добро</p>
    <p><span class="field-list">Рост:</span> 6'1; (в броне) 6'6"</p>
    <p><span class="field-list">Вес:</span> 225 фунтов; (в броне) 425 фунтов</p>
    <p><span class="field-list">Цвет Глаз:</span> Голубой</p>
    <p><span class="field-list">Цвет Волос:</span> Черный</p>
    <p><span class="field-list">Родственники:</span></p>
    <p>Говард Энтони Старк (отец, погиб), Мария Коллинс Карбонелл Старк (мать, погибла), Морган Старк (двоюродный брат), Эдвард Старк (дядя, погиб), Исаак Старк старший, Исаак Старк младший (дальние родственники, погибли)</p>
    <p><span class="field-list">Принадлежность к Группам:</span></p>
    <p>Щ.И.Т. (S.H.I.E.L.D.), Мстители (Avengers), Инициатива (Initiative), Клуб Адского Огня (Hellfire Club) (внешний круг); раньше Иллюминаты (Illuminati), Громовержцы (Thunderbolts), Force Works, Месть Королевы (Queen's Vengeance)</p>
    <p><span class="field-list">Место Рождения:</span> Лонг-Айленд, Нью-Йорк</p>
    <p><span class="field-list">Гражданство:</span> США</p>
    <p><span class="field-list">Первое появление:</span> Tales of Suspense #39 (1963)</p>
</fieldset></div>

</body>
</html>