<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Syberia</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Faustina&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body>

<div class="desktop">
    <span class="background"></span>
    <span class="effect"></span>
    <span class="kate"></span>
    <span class="shadows"></span>

    <div class="content">
        <span class="top_text">SYBERIA</span>
        <span class="second_text">B.H.Sokal</span>
        <span class="third_text">Automobots are not robots. They have a soul.</span>
        <img class="stars" src="./img/stars.png" />
        <a href="./files/Dana_Skoll_Sibiria.pdf" target="_blank"><img class="read_more" src="./img/readMore.png" /></a>
    </div>

    <img class="image_one" src="./img/image1.png" />
    <img class="image_second" src="./img/image2.png" />
    <img class="image_third" src="./img/image3.png" />
</div>

</body>
</html>